<% include partials/header %>

<div class="container">
	<header class="jumbotron">
			<div class="container">
				<h1>"Clothes mean nothing until someone lives in them."</h1>
				<p>Let's Explore!!</p>
				<p>
					<a class="btn btn-primary btn-large" href="/dresses/new">add new attire</a>
				</p>
			</div>
	</header>

	<div class="row text-center" style="display:flex; flex-wrap:wrap;">
		<% dresses.forEach(function(dresses){ %>
		<div class="col-md-3 col-md-6">
		<% if(currentUser && dresses.author.id.equals(currentUser._id)){ %>
			<div class="thumbnail">
				<img src="<%= dresses.image %>">
			</div>
			<div class ="caption">
				<h4><%= dresses.type %><h4>
			</div>
			<p>
				<a href="/dresses/<%= dresses._id %>" class="btn btn-primary">More info</a>
			</p>
		<% } %>
		</div>
		<% }); %>
	</div>	
</div>

<% include partials/footer %>