<% include partials/header %>

<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<header>
		<div class="main-content-header">
			<h1>Be your own Stylist with <span>Best Attires</span>.<br>
			A Site for Trend Followers. </h1> 
		<a href="/knowmore" class="btn btn-1">know more</a>
		<a href="/whatstrending" class="btn btn-2">explore</a>
		</div>
</header>

<% include partials/footer %>