<% include partials/header %>

<header class="mainpage">
	<div class="main-content-header">
		<h1>Be your own Stylist with <span class="colorchange">Best Attires</span>.<br>
			A Site for Trend Followers. </h1> 
		<a href="/dresses" class="btn btn-warning">explore</a>
		</div>
</header>

<% include partials/footer %>