<% include partials/header %>
<h1>add a new attire</h1>

<form action="/ethnic" method="POST">
	<input type="text" name="type" placeholder = "type">
	<input type="text" name="image" placeholder ="image url">
	<input type="text" name="description" placeholder ="description">
	<button> Submit!</button>
</form>
<a href="/ethnic">go back</a>

<% include partials/footer %>