<% include partials/header %>

<div class="background">
	<div class="signup-box">
		<h1> Sign Up</h1>
		<form action="/signup", method="post">
			<div class="textbox">
				<i class="fa fa-user" aria-hidden="true"></i>
				<input type="text" name="username" placeholder="username">
			</div>
			<div class="textbox">
				<i class="fa fa-lock" aria-hidden="true"></i>
				<input type="password" name="password" placeholder="password">
			</div>
			<input class="btn btn-primary signup" type="submit" name="signup-button" value=" Sign Up">
		</form>
	</div>
</div>

<% include partials/footer %>