<% include partials/header %>

<link rel="stylesheet" type="text/css" href="css/whatstrending.css">

<div class="class1" style="background-color:#9BCB3B;">
   <p><a href="/ethnic"> Ethnic Trends</a></p>
</div>
<div class="class2" style="background-color:#1AB99E;">
   <p><a href="/casual"> Casual Trends</a></p>
</div>
<div class="class3" style="background-color:#F36F25;">
   <p><a href="/dresses"> Western Trends</a></p>
</div>

<% include partials/footer %>